<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2>Python HTTP Server (Records in sqlite3 database)</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
        </tr>
        {{user_records}}
    </table>

</body>

</html>